@import "../../../../espn.theme.less";

.latest-news {
  border-radius: @card-radius;

  .ant-card-head {
    min-height: auto;
  }
  
  .ant-card-head-title {
    .card-title();
  }

  .ant-card-body {
    padding: 12px 10px;

    .ant-typography {
      margin-bottom: 0;
    }
  }

  .timing {
    color: @sub-title-color;
  }

  .power-by {
    float: right;
    color: @sub-title-color;
    font-size: 11px;
  }
}
