@team-base-color: #542582;
@border-color:    #542582;
@border-color-grey: #f1f2f3;

.modal-layer {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: #fff;
  opacity: .5;
  z-index: 0;
}

.demo-placeholder {
  position: relative;
  width: 100%;
  background-color: #fff;
  min-height: 50vh;
  border-radius: 5px;
  border: 1px solid black;
}