/* @import '~antd/dist/antd.css'; */

.custom-layout {

}

.custom-header {
  background-color: #7dbcea;
  color: #fff;
  text-align: center;
}

.custom-sider {
  background-color: #3ba0e9;
  color: #fff;
  height: 400px;
}

.custom-content {
  background-color: rgba(16, 142, 233, 1);
  color: #fff;
}

.custom-footer {
  background-color: #7dbcea;
  color: #fff;
}

.content-main {
  margin: 20px 40px;
  background: #fff;
  min-height: 400px;
}

.logo {
  width: 120px;
  height: 31px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px 24px 16px 0;
  float: left;
}